* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
}
.image-wrap {
	width: 100%;
}
.image-wrap .image {
	margin: 0 auto;
}
.image-wrap .image img {
	max-width: 720px;
	width: 100%;
	height: auto;
	vertical-align: top;
}
.driver {
	height: 60px;
	line-height: 60px;
}
.footer {
	position: fixed;
	display: block;
	height: 60px;
	line-height: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}
.footer .info-wrap {
	padding-left: 60px;
}
.footer .info-wrap .icon {
	position: absolute;
	left: 10px;
	;
	top: 10px;
	width: 40px;
	height: 40px;
}
.footer .info-wrap .info {
	color: #fff;
	line-height: 20px;
	padding-top: 10px;
}
.footer .info-wrap .info .title {
	font-size: 16px;
	;
}
.footer .info-wrap .info .desc {
	font-size: 14px;
	;
	font-weight: 100;
}
.copyright {
	font-size: 12px;
	color: #ccc;
	text-align: center;
	padding: 5px 0 5px 0;
}
.btn {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 40px;
	line-height: 40px;
	width: 120px;
	background-color: #ff7306;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
}
 @-webkit-keyframes start {
 0%, 30% {
 opacity: 0;
 -webkit-transform: translate(0, 5px);
}
 60% {
 opacity: 1;
 -webkit-transform: translate(0, 0);
}
 100% {
 opacity: 0;
 -webkit-transform: translate(0, -5px);
}
}
 @-moz-keyframes start {
 0%, 30% {
 opacity: 0;
 -moz-transform: translate(0, 5px);
}
 60% {
 opacity: 1;
 -moz-transform: translate(0, 0);
}
 100% {
 opacity: 0;
 -moz-transform: translate(0, -5px);
}
}
 @keyframes start {
 0%, 30% {
 opacity: 0;
 transform: translate(0, 5px);
}
 60% {
 opacity: 1;
 transform: translate(0, 0);
}
 100% {
 opacity: 0;
 transform: translate(0, -5px);
}
}
#array-wrap {
	position: fixed;
	bottom: 80px;
	right: 10px;
	width: 40px;
	height: 40px;
	z-index: 999;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.2);
}
#array {
	margin-left: 8px;
	margin-top: 12px;
	width: 25px;
	height: 15px;
	-webkit-animation: start 1.2s infinite ease-in-out;
}
